
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Design Studio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/static/css/styles.css' %}">

</head>
<body>
    <header>
        <h1>Design Studio</h1>
    </header>
    <nav>
        <ul>

            <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout_user' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login_user' %}">Login</a></li>
        <li><a href="{% url 'register_user' %}">Register</a></li>
    {% endif %}
            <li><a href="{% url 'design_request_list' %}">Мои заявки</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
