{% extends 'catalog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to Design Studio</h2>
    <p>Explore our interior design services!</p>

    <h3>Last Completed Requests</h3>
    {% for request in latest_requests %}
        <div>
            <p>Title: {{ request.title }}</p>
            <p>Category: {{ request.category }}</p>
            <p>Description: {{ request.description }}</p>
            <p>Timestamp: {{ request.timestamp }}</p>
            {% if request.image %}
                <img src="{{ request.image.url }}" alt="Design Image">
            {% endif %}
        </div>
    {% endfor %}

    <p>Requests In Progress: {{ in_progress_count }}</p>
{% endblock %}